# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Data
data/raw/*
!data/raw/.gitkeep

data/interim/*
!data/interim/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# MLflow
mlruns/

# Pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
# Artifacts
artifacts/*
!artifacts/.gitkeep